@using NhiemVu.Helper
@if (CurrentContext.IsLogged())
{
    <a id="logoutLink" class="w3-bar-item w3-button w3-right">Logout</a>
}
else
{
    <a href="@Url.Action("Login", "Account")" class="w3-bar-item w3-button w3-right">Login</a>
}

<form id="frmLogout" method="post" action="@Url.Action("Logout","Account")"></form>

<script>
    // start script logout
    $('#logoutLink').on('click', function () {
        $('#frmLogout').submit();
    });
    // end script logout
</script>