@using NhiemVu.Helper
<div class="w3-sidebar w3-light-grey w3-card-4 w3-animate-left" style="width: 180px;display:block;z-index:0" id="mySidebar">
    <div class="w3-bar w3-gray">
        <h3 class="w3-bar-item w3-padding-16" id="username">
            <img src="~/Content/Images/user/user.png" width="50" height="50" style="border-radius:50px;"/>
            @CurrentContext.GetUser().vTenDangNhap
        </h3>
        <button onclick="w3_close()" class="w3-bar-item w3-button w3-right w3-padding-16" title="close Sidebar">×</button>
    </div>
    <div class="w3-bar-block">
        <a href="@Url.Action("TrangCaNhan","Account")" class="w3-bar-item w3-button w3-hover-blue">Nhiệm vụ</a>
    </div>
</div>

<script>
function myFunction(id) {
    $(id).toggleClass("w3-hide");
    $(id).toggleClass("w3-show");
}
</script>