
<div class="w3-sidebar w3-light-grey w3-card-4 w3-animate-left" style="width: 180px;display:block;z-index:0" id="mySidebar">
    <div class="w3-bar w3-dark-grey">
        <span class="w3-bar-item w3-padding-16">Menu</span>
        <button onclick="w3_close()" class="w3-bar-item w3-button w3-right w3-padding-16" title="close Sidebar">×</button>
    </div>
    <div class="w3-bar-block">
        <a class="w3-bar-item w3-button w3-hover-blue" href="@Url.Action("HopDongChoXacNhan","HopDong")">Hợp đồng chờ xác nhận</a>
        <a class="w3-bar-item w3-button w3-hover-blue" href="@Url.Action("QuanLyHopDong","HopDong")">Quản lý hợp đồng</a>
        <a class="w3-bar-item w3-button w3-hover-blue" href="">Contact</a>
    </div>
</div>
